h2 {
    display: flex;
    justify-content: space-around;
    color: #117456;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 100%;
}

.main {
    background-color: #c7c1c1;
    display: flex;
    justify-content: space-around;
    color: #117456;
    width: 100%;
    /* max-width: 700px; modif */
    /* margin-bottom: 3rem; */
}

.content {
    background-color: #c7c1c1;
}

.labyrinthe {
    background-color: #c7c1c1;
    display: flex;
    justify-content: space-evenly;
    color: #117456;
    width: 100%;
    /* max-width: 700px; modif */
    /* margin-bottom: 3rem; */
}

.start-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}
