<div class="content">
    <div class="labyrinthe">
      <p-table [value]="LabyrintheView.blocs" @labyrintheAnimation>
        <ng-template pTemplate="body" let-rowData>
          <tr class="cellsRowMaison">
            <td *ngFor="let bloc of rowData">
              <img *ngIf="bloc.typeBloc === 'X'" src="/assets/texture-mur.png" alt='X'/>
              <img *ngIf="bloc.typeBloc === '_'" src="/assets/texture-visitee.png" alt='_'/>
              <img *ngIf="bloc.typeBloc === 'S'" src="/assets/texture-base.png" alt='S'/>
              <img *ngIf="bloc.typeBloc === 'R'" src="/assets/megaman.png" alt='R'/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div>
      <form (ngSubmit)="startRobot()" #labyrintheForm="ngForm">
        <div class="start-button">
          <button type="submit">Start</button>
        </div>
      </form>
    </div>
  </div>

<div>
    <app-messages></app-messages>
</div>
